<div class="header_menu">

      <ion-grid>
        <ion-row>
          <ion-col class="flex flex_items pad_top">
            <ion-icon class="icon" name="search"></ion-icon>
          </ion-col>
          <ion-col class="flex flex_items pad_top">
              <ion-icon name="chatbubble"></ion-icon>
              <p>H</p>
          </ion-col>
          <ion-col class="flex flex_items pad_top">
            <ion-icon class="icon" name="options-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

</div>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-avatar style="padding: 5px;">
        <ion-img [src]="['assets/mars.png']"></ion-img>
      </ion-avatar>
      <ion-label class="title_list">
        <p>MARS</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar style="padding: 5px;">
        <ion-img [src]="['assets/neptuno.png']"></ion-img>
      </ion-avatar>
      <ion-label class="title_list">
        <p>NEPTUNO</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar style="padding: 5px;">
        <ion-img [src]="['assets/venus.png']"></ion-img>
      </ion-avatar>
      <ion-label class="title_list">
        <p>VENUS</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>

  <div class="header_menu footer">
    <ion-grid>
      <ion-row>
        <ion-col class="flex flex_items">
          <ion-icon class="icon_fot"  name="bookmark"></ion-icon>
        </ion-col>
        <ion-col class="flex flex_items">
          <button class="plus_button">
            <div class="icon_plus flex flex_items">
              <ion-icon name="add-outline"></ion-icon>
            </div>
          </button>
        </ion-col>
        <ion-col class="flex flex_items">
          <ion-icon class="icon_fot" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-footer>